---
layout: default
---

<div class="col-md-12 home" id="home">
    {% for post in paginator.posts %}
      <div class="post">
        <div class="col-md-12">
          <h1><div class="col-md-9"><a href="{{ post.url }}">{{ post.title }}</a></div></h1>
          <div class="col-md-3 pull-right">
            <span><p class="text-right"><i>{{ post.date | date_to_string }}</i></p></span>
            <span class="categories"><p class="text-right">
              [
                {% for category in post.categories %}
                  <a href="/category/{{ category }}">{{ category }}</a>
                  {% if forloop.last == false %}, {% endif %}
                {% endfor %}
              ]
            </p></span>
          </div>
        </div>
        
        <div class="col-md-12 post-content">{{ post.content }}</div>
      </div>
      <div class="col-md-2"><hr/></div>
        <div class="col-md-8"><hr/></div>
      <div class="col-md-2"><hr/></div>
    {% endfor %}

    <center>
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <ul class="pagination pagination-sm">
      {% if paginator.previous_page %}
        <li>
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
        </li>
      {% else %}
        <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
      {% endif %}

      <li><a href="/">First</a></li>

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active">
             <a>{{ page }}<span class="sr-only">(current)</span></a>
          </li>
        {% elsif page == 1 %}
          <li><a href="/">{{ page }}</a></li>
        {% else %}
          <li>
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}

      <li><a href="/page{{ paginator.total_pages }}/">Last</a></li>

      {% if paginator.next_page %}
        <li>
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
        </li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
    </center>
</div><!-- end #home -->
