---
layout: default
---
<article class="">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% for project in site.data.projects %}
        {% if project.slug == page.slug %}
            <span class="time">{{ project.date | date: "%d/%m/%Y" }}</span> &raquo; 
            {% for tag in project.tags %}
                <span class="tags tag-filter">{{ tag }}</span>
            {% endfor %}
        {% endif %}
    {% endfor %}
  </header>

  <div class="content">
    {% for project in site.data.projects %}
        {% if project.slug == page.slug %}
            <a href="/static/projects/{{ project.image }}" class="thickbox">
                <img src="/static/projects/{{ project.image }}" alt="{{ page.title }}" title="{{ page.title }}">
            </a>
        {% endif %}
    {% endfor %}
    <hr />

    {{ content }}
  </div>

</article>

<div class="disqus-comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* <![CDATA[ */

        var disqus_shortname = "{{ site.disqus_shortname }}";
        var disqus_identifier = "{{ site.url }}_{{ page.title }}";
        var disqus_title = "{{ page.title }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    /* ]]> */
    </script>
</div>